:root {
    --color1: rgb(41,  35,  23);
    --color2: rgb(67,  53,  28);
    --color3: rgb(105, 65,  78);
    --color4: rgb(127, 95,  69);
    --color5: rgb(144, 98,  72);
    --color6: rgb(163, 97,  67);
    --color7: rgb(171, 121, 81);
    --color8: rgb(247, 225, 181);
    --blue:   hsl(200, 100%, 70%);

    --text-color:         var(--color8);
    --tooltip-text-color: var(--color8);
    --tooltip-bg-color:   var(--color1);
    --bg-color:           var(--color1);
    --link-color:         var(--color7);

    --z-config: 15;
    --z-sticky: 10;
    --z-tooltip: 5;

    --color-invasion: hsl(120, 100%, 50%);
    --color-dragon: hsl(240, 100%, 50%);
    --color-finish: hsl(0, 100%, 50%);
    --color-key: hsl(60, 100%, 50%);

    --border-thickness: 5px;

    --text-invasion: hsl(120, 40%, 60%);
    --text-dragon: hsl(240, 40%, 60%);
    --text-finish: hsl(0, 40%, 60%);

    --text-required: white;
    --text-keys: yellow;
    --left-text-size: 21px;
}

html {
    font-size: 12px;
    font-family: Arial, sans-serif;
    word-wrap: break-word;
    scrollbar-gutter: stable;
}

body {
    margin: 0px 30px;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

a {
    color: var(--blue);
}
a:hover {
    color: var(--text-color);
}

h1 {
    color: var(--link-color);
    margin-bottom: 0%;
}

img {
    border-radius: 30%;
    margin: 0;
}

.sticky {
    background-color: var(--bg-color);
    z-index: var(--z-sticky);
    position: sticky;
    top: 0;
    padding-top: 10px;
}

#inventory-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 2px;
    width: fit-content;
    margin: 0 auto;
    font-size: 0;
}

.row-label {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: var(--left-text-size, 21px);
}
.label-required {
    color: var(--text-required);
}
.label-keys {
    color: var(--text-keys);
}

.col-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--top-text-size, 21px);
}
.col-header-invasion {
    grid-column: 2 / span 3;
    color: var(--text-invasion);
}
.col-header-dragon {
    grid-column: 5 / span 2;
    color: var(--text-dragon);
}
.col-header-finish {
    grid-column: 7 / span 2;
    color: var(--text-finish);
}

hr {
    border: 2px solid var(--color2);
    border-radius: 100%;
}

.inventory {
    width: 50px;
    height: auto;
    border: var(--border-thickness) solid var(--blue);
    filter: grayscale(100%) opacity(75%);
}
.inventory.selected {
    filter: none !important;
}
.inventory[data-type="invasion"].selected {
    border-color: var(--color-invasion);
}
.inventory[data-type="dragon"].selected {
    border-color: var(--color-dragon);
}
.inventory[data-type="finish"].selected {
    border-color: var(--color-finish);
}
.inventory[data-type="key"].selected {
    border-color: var(--color-key);
}

.element {
    position: relative;
}

.tooltip {
    position: absolute;
    text-align: center;
    color: var(--tooltip-text-color);
    background-color: var(--tooltip-bg-color);
    border-radius: 10%;
    z-index: var(--z-tooltip);
    filter: opacity(75%) !important;
}
.tooltip.inventory {
    font-size: 10px;
    width: 70px;
    height: 25px;
    bottom: -20px;
    left:   -8px;
}
.invisible {
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
}
.tooltip.invisible {
    visibility: hidden;
    position: absolute;
    top: auto;
    left: auto;
}

#control-panel {
    background-color: rgb(60, 50, 35);
    padding: 20px;
    border-radius: 10px;
    margin: 30px 10px 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#control-panel .control-group {
    display: flex;
    gap: 20px;
    align-items: center;
}
#control-panel .control-group > span {
    font-weight: bold;
    min-width: 100px;
}
#control-panel .control-group label {
    display: flex;
    gap: 5px;
    align-items: center;
}
